<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <title>GroupUp!</title>

    {{> commonCSS }}

    <!-- Custom styles for this template -->
    <link href="/css/groupup.css" rel="stylesheet">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  </head>

  <body>
    <!--                        Start Body                            -->


    <!-- Static Nav Bar Partial is in /views/partials/staticNacBar.handlebars -->
    <!-- ...........................................................................
    ............................................................................
    This is Header & Naviagation bar & Drop Down menu!
-->
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/images/logo_top_30.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">My Page</a></li>
            <li><a href="./setting">Settings</a></li>
            <li>
              {{#if child}}
                <a href="/child">Sign Out</a>
              {{else}}
                <a href="/">Sign Out</a>
              {{/if}}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- ........................................................................... -->

    <!-- ...........................................................................
        ............................................................................
        Second part : logo, page menu logo
    -->
    <div class="container">
      <div align="center" class="top_logo">
        <img src="../images/mygroupup.png"><br>
        <h2>Hello, "{{mydata.name}}"! </h2>

        <h4>You've <b>created {{groupNum}}</b> groups! You can delete your group(s) <a href="./setting"><span class="glyphicon glyphicon-remove-sign"></span> here!</a></h4>
       <!-- 
        {{#if child}}
          Child
        {{else}}
          Parent
        {{/if}}
        -->
        
      </div>
    </div> <!-- /container --><br>
    <!-- ........................................................................... -->


    <!-- ...........................................................................
        ............................................................................
        Main part : Contents
    -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <!--    First column Start    -->
        <div class="col-md-4">
          {{> helpModal }}  <hr>               
          <h3>My Classes</h3>
          <h4>Click a class you have added</h4>
          {{#if numClass}}"You have no added any classes yet"{{else}}{{/if}}
            {{#each mydata.classlist}}
              <a href="./myclass/{{id}}"><button id="allclass" type="button" class="btn btn-info">
              {{class}}
              <div class="btn-group btn-group-xs" role="group" aria-label="..."><a href="./myclass/{{id}}/removeClass"><span class="glyphicon glyphicon-remove"></span></a></div>
              </button></a>
            {{/each}}

            <hr><h3>Add another class</h3>
            <!-- Single button -->
            <div class="col-xs-12 btn-group">
              <button type="button" id="class-add-btn" class="col-xs-12 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a class to add <span class="caret"></span>
              </button>
              <ul class="col-xs-12 dropdown-menu">
                <li class="class_list no-click"><a href="#"><b>List of classes:</b></a></li>
                {{#each classes.allClasses}}
                <li><a href="myclass/{{id}}/addclass">{{class}}</a></li>
                {{/each}}
              </ul>
            </div> 
            <!-- End of button -->


        </div>      <!-- --> <!-- --> <!-- --> <!--    First column End    -->
        
        <!--    First column End    -->

        <!-- +++++ Right side (1. Group inPerson) page start +++++ -->
        <div class="col-md-4">
            <img src="../../images/menu_main_person.png" class="col-xs-12">

            {{#if child}}
                  <!-- +++++ Each group space start! +++++ -->
                  {{#if numPerson}}"You have no joined groups in-person yet"{{else}}{{/if}}
                  {{#each mydata.group_person}}
                    <div class="col-xs-12 container-fluid panel panel-default">
                    <h4 class="text-uppercase">
                      <!--<button id="in-person" type="button" class="btn btn-info">In-Person</button>-->  <span class="fa fa-users"></span>  {{name}}</h4>
                        <div id="icons"><hr>
                           This group for class <b><span style="text-transform: uppercase">{{className}}</span></b><br><br>
                           <div id="group_info"><span class="glyphicon glyphicon-user"></span>  <b>Max:</b> {{max}}</div>
                           <div id="group_info"><span class="glyphicon glyphicon-map-marker"></span>  <b>Place:</b> {{place}}</div>
                           <div id="group_info"><span class="glyphicon glyphicon-time"></span>  <b>Time:</b> {{time}}</div>

                        <p class="panel body class_descrip">
                          <h4 id="descr"><br>Description</h4><p>{{description}}</p><br>
                          <a href="myclass/{{id}}/removeGroup" style="color:white"><button type="button" class="col-xs-12 btn btn-info" id="leave">Leave Group</button></a><br><br>
                        </p>
                      </div> <!-- id="demo2" -->
                    </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                  </p>

                  {{/each}}
                  <!-- +++++ Each group space End! +++++ --> 
            {{else}}
                  <!-- +++++ Each group space start! +++++ -->
                  {{#if numPerson}}"You have no joined groups in-person yet"{{else}}{{/if}}
                  {{#each mydata.group_person}}
                    <div class="col-xs-12 container-fluid panel panel-default">
                    <h4 class="text-uppercase">
                    <div class="btn-group btn-group-xs" role="group" style="float:right"><a href="myclass/{{id}}/removeGroup"><span id="x" class="glyphicon glyphicon-remove"></span></a></div>  
                      <!--<button id="in-person" type="button" class="btn btn-info">In-Person</button>-->  <span class="fa fa-users"></span>  {{name}}</h4>
                        <div id="icons"><hr> 
                           This group for class <b><span style="text-transform: uppercase">{{className}}</span></b><br><br>
                           <div id="group_info"><span class="glyphicon glyphicon-user"></span>  <b>Max:</b> {{max}}</div>
                           <div id="group_info"><span class="glyphicon glyphicon-map-marker"></span>  <b>Place:</b> {{place}}</div>
                           <div id="group_info"><span class="glyphicon glyphicon-time"></span>  <b>Time:</b> {{time}}</div>

                        <p class="panel body class_descrip">
                          <h4 id="descr"><br>Description</h4><p>{{description}}</p><br>
                        </p>
                      </div> <!-- id="demo2" -->
                    </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                  </p>

                  {{/each}}
                  <!-- +++++ Each group space End! +++++ -->  
            {{/if}}

        </div> 
        <!-- +++++ Right side of page End +++++ -->

        <!-- +++++ Right side (2. Group Online) page start +++++ -->
        <div class="col-md-4">
            <img src="../../images/menu_main_online.png" class="col-xs-12">

            {{#if child}}
                <!-- +++++ Each group space start! +++++ -->
                {{#if numOnline}}"You have no joined groups online yet"{{else}}{{/if}}
                {{#each mydata.group_online}}
                  <div class="col-xs-12 container-fluid panel panel-default">
                  <h4 class="text-uppercase">
                    <!--<button id="online" type="button" class="btn btn-info">Online</button>--><span class="fa fa-laptop"></span>  {{name}}</h4>
                      <div id="icons"><hr>
                         This group for class <b><span style="text-transform: uppercase">{{className}}</span></b><br><br>
                         <span class="glyphicon glyphicon-home"></span>  <b>Forum:</b> {{address}}<br><br>
                         <button id="forumLink" type="button" class="btn btn-info" align="center"><a href="http://{{address}}" target="_blank" align="center">Link to Forum</button></a><br>

                      <p class="panel body class_descrip">
                        <h4 id="descr"><br>Description</h4><p>{{description}}</p><br>
                        <a href="myclass/{{id}}/removeGroup" style="color:white"><button type="button" class="col-xs-12 btn btn-info" id="leave">Leave Group</button></a><br><br>
                      </p>
                    </div> <!-- id="demo2" -->
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                </p>

                {{/each}}
                <!-- +++++ Each group space End! +++++ --> 

            {{else}}
                <!-- +++++ Each group space start! +++++ -->
                {{#if numOnline}}"You have no joined groups online yet"{{else}}{{/if}}
                {{#each mydata.group_online}}
                  <div class="col-xs-12 container-fluid panel panel-default">
                  <h4 class="text-uppercase">
                    <div class="btn-group btn-group-xs" role="group" style="float:right"><a href="myclass/{{id}}/removeGroup"><span id="x" class="glyphicon glyphicon-remove"></span></a></div>  
                    <!--<button id="online" type="button" class="btn btn-info">Online</button>--><span class="fa fa-laptop"></span>  {{name}}</h4>
                      <div id="icons"><hr>
                         This group for class <b><span style="text-transform: uppercase">{{className}}</span></b><br><br>
                         <span class="glyphicon glyphicon-home"></span>  <b>Forum:</b> {{address}}<br><br>
                         <button id="forumLink" type="button" class="btn btn-info" align="center"><a href="http://{{address}}" target="_blank" align="center">Link to Forum</button></a><br>

                      <p class="panel body class_descrip">
                        <h4 id="descr"><br>Description</h4><p>{{description}}</p><br>
                      </p>
                    </div> <!-- id="demo2" -->
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->

                {{/each}}
                <!-- +++++ Each group space End! +++++ -->  
            {{/if}}

        </div> 
        <!-- +++++ Right side of page End +++++ -->
                                                                   

      </div> 
      <!-- End of row -->

    </div> <!-- End of container -->
    <!-- ........................................................................... -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> commonJS }}

    <!--                        End Body                            -->

      <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87714901-1', 'auto');
  ga('send', 'pageview');

  $("#leave").click(function() {
    ga('send', 'event', 'leave', 'click2');
  });
  $("#x").click(function() {
    ga('send', 'event', 'x', 'click1');
  });
  
  

</script>
  </body>
</html>