<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GroupUp!</title>

    {{> commonCSS }}

    <!-- Custom styles for this template -->
    <link href="/css/groupup.css" rel="stylesheet">

  </head>

  <body>
    <!--                        Start Body                            -->
    <!-- Static Nav Bar Partial is in /views/partials/staticNacBar.handlebars -->
    <!-- ...........................................................................
    ............................................................................
    This is Header & Naviagation bar & Drop Down menu!
    -->
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../main"><img src="../../images/logo_top_30.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="../main">My page</a></li>
            <li><a href="../setting">Setting<span class="sr-only">(current)</span></a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- ........................................................................... -->
    <!-- 
      ++ This is First part "Title"
    -->

    <!-- +++++ Container Start +++++ -->
    <div class="container">
      <div align="center" class="top_logo">
        <h1>Groups for <span style="text-transform: uppercase">{{printName}}</span></h1>
        <p>
          This is a page for {{printName}}
        </p>
      </div>
    </div>
    <!-- +++++ Container End +++++ -->



    <!-- 
      ++ This is second row "Group List"
    -->


    <!-- +++++ Container Start +++++ -->
    <div class="container">

      <!-- +++++ Single Row Start +++++ -->
      <div class="row">

        <!-- +++++ Left side of page Start +++++ -->
        <div class="col-md-4" align="center">
            {{> helpModal }}
            <h3>Choose Another Class</h3>

            <!-- Single button -->
            <div class="col-xs-12 btn-group">
              <button type="button" class="col-xs-12 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Classes <span class="caret"></span>
              </button>
              <ul class="col-xs-12 dropdown-menu">
                <li><a href="#">Choose Another Class :</a></li>
                {{#each mydata.classlist}}
                <li><a href="./{{id}}">{{class}}</a></li>
                {{/each}}
              </ul>
            </div> 
            <!-- End of button -->
            <br><br>
            <a href="./{{className}}/create_inperson"><button id="create_fromClass" type="button" class="col-xs-12 btn btn-info">
            <h3 align="middle">Create a group!</h3></button></a>
            <img src="../../images/figures/myclass.png" class="col-xs-12">
            
        </div><br><br>
        <!-- +++++ Left side of page End +++++ -->

        <!-- +++++ Right side (1. Group inPerson) page start +++++ -->
        <div class="col-md-4">
            <button id="in-person" type="button" class="col-xs-12 btn btn-info no-click">Group in Person</button> 
            <p class="elem_list" align="center"><br> 

                <!-- +++++ Each group space start! +++++ -->
                {{#each data.group_person}}
                <div class="class_elem">
                  <div class="col-xs-12 container-fluid panel panel-default" data-toggle="collapse" data-target="#demo{{id}}">
                  <h4 class="text-uppercase">
                    <button id="in-person" type="button" class="btn btn-info no-click">In-Person</button>  {{name}}</h4>
                      <div id="icons" align="center">                      
                         <button id="group_detail" type="button" class="col-xs-12 btn btn-info">Please click to get more information!</button><br>
                      </div><br> <!-- id=icons -->
                    </button>
                    <div id="demo{{id}}" class="collapse">
                      <p class="panel body class_descrip"><br>
                        <h4 id="descr">Description</h4><p>{{description}}</p><br><a href="./{{className}}/{{id}}/{{grouptype}}"><br><button type="button" class="btn btn-info">Join Group!</button></a><br></p>
                      </p>
                    </div> <!-- id="demo2" -->
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                </p>

                </div> <!-- class_elem --> 
                {{/each}}
                <!-- +++++ Each group space End! +++++ -->  

        </div> 
        <!-- +++++ Right side of page End +++++ -->

        <!-- +++++ Right side (2. Group Online) page start +++++ -->
        <div class="col-md-4">
            <button id="online" type="button" class="col-xs-12 btn btn-info no-click">Group Online</button>
            <p class="elem_list" align="center"><br>

                <!-- +++++ Each group space start! +++++ -->
                {{#each data.group_online}}
                <div class="class_elem">
                  <div class="col-xs-12 container-fluid panel panel-default" data-toggle="collapse" data-target="#demo{{id}}">
                  <h4 class="text-uppercase">
                    <button id="online" type="button" class="btn btn-info no-click">Online</button>  {{name}}</h4>
                      <div id="icons">
                         <button id="group_detail" type="button" class="col-xs-12 btn btn-info">Please click to get more information!</button><br>
                      </div><br> <!-- id=icons -->
                    </button>
                    <div id="demo{{id}}" class="collapse">
                      <p class="panel body class_descrip"> <br>
                        <h4 id="descr">Description</h4><p>{{description}}</p><br><a href="./{{className}}/{{id}}/{{grouptype}}"><br><button type="button" class="btn btn-info">Join Group!</button></a><br></p>
                      </p>
                    </div> <!-- id="demo2" -->
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                </p>

                </div> <!-- class_elem --> 
                {{/each}}
                <!-- +++++ Each group space End! +++++ -->  

        </div> 
        <!-- +++++ Right side of page End +++++ -->

      </div>
      <!-- +++++ Single Row End +++++ -->

    </div>
    <!-- +++++ Container End +++++ -->




    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> commonJS }}

    <!--                        End Body                            -->
  </body>
</html>
