<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <title>GroupUp!</title>

    {{> commonCSS }}

    <!-- Custom styles for this template -->
    <link href="/css/groupup.css" rel="stylesheet">

  </head>

  <body>
    <!--                        Start Body                            -->
    <!-- Static Nav Bar Partial is in /views/partials/staticNacBar.handlebars -->
    <!-- ...........................................................................
    ............................................................................
    This is Header & Naviagation bar & Drop Down menu!
    -->
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../main"><img src="../../images/logo_top_30.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="../main">My Page</a></li>
            <li><a href="../setting">Settings<span class="sr-only">(current)</span></a></li>
            <li>
              {{#if child}}
                <a href="/child">Sign Out</a>
              {{else}}
                <a href="/">Sign Out</a>
              {{/if}}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- ........................................................................... -->
    <!-- 
      ++ This is First part "Title"
    -->

    <!-- +++++ Container Start +++++ -->
    <div class="container">
      <div align="center" class="top_logo">
        <h1>Groups for <span style="text-transform: uppercase">{{printName}}</span></h1>
        <h4>If you are interested a group, <b>please join it!</b></h4><br>
      </div>
    </div>
    <!-- +++++ Container End +++++ -->

  

    <!-- 
      ++ This is second row "Group List"
    -->


    <!-- +++++ Container Start +++++ -->
    <div class="container">

      <!-- +++++ Single Row Start +++++ -->
      <div class="row">

        <!-- +++++ Left side of page Start +++++ -->
        <div class="col-md-4">
            {{> helpModal }}
            <h3>Choose Another Class</h3>

            <!-- Single button -->
            <div class="col-xs-12 btn-group">
              <button type="button" class="col-xs-12 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Classes <span class="caret"></span>
              </button>
              <ul class="col-xs-12 dropdown-menu">
                <li class="no-click"><a href="#"><b>Choose Another Class :</b></a></li>
                {{#each mydata.classlist}}
                <li><a href="./{{id}}">{{class}}</a></li>
                {{/each}}
              </ul>
            </div> 
            <!-- End of button -->
            <br><br>
            <a href="./{{className}}/create_inperson"><button id="create_fromClass" type="button" class="col-xs-12 btn btn-info">
            <h3 align="middle">Create a group!</h3></button></a><br><br>
            
        </div><br><br>
        <!-- +++++ Left side of page End +++++ -->

        <!-- +++++ Right side (1. Group inPerson) page start +++++ -->
        <div class="col-md-4">
            <button id="in-person" type="button" class="col-xs-12 btn btn-info no-click">Group in Person</button><br><br>

                <p class="elem_list" align="center">
                <!-- +++++ Each group space start! +++++ -->
                {{#each data.group_person}}
                <div class="class_elem">
                  <div class="col-xs-12 container-fluid panel panel-default">
                  <h4 class="text-uppercase">
                    <!--<button id="in-person" type="button" class="btn btn-info no-click">In-Person</button>--><span class="fa fa-users"></span> {{name}}</h4><hr>
                    <h4 id="descr">Description</h4>{{description}}<br><hr>
                    
                    <a href="./{{className}}/{{id}}/{{grouptype}}">
                    <button type="button" class="col-xs-12 btn btn-info">Join Group!</button></a><br><br><br>
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                </div> <!-- class_elem --> 
                {{/each}}
                <!-- +++++ Each group space End! +++++ -->  

        </div> 
        <!-- +++++ Right side of page End +++++ -->

        <!-- +++++ Right side (2. Group Online) page start +++++ -->
        <div class="col-md-4">
            <button id="online" type="button" class="col-xs-12 btn btn-info no-click">Group Online</button><br><br>

            <p class="elem_list" align="center">

                <!-- +++++ Each group space start! +++++ -->
                {{#each data.group_online}}
                <div class="class_elem">
                  <div class="col-xs-12 container-fluid panel panel-default">
                  <h4 class="text-uppercase">
                    <!--<button id="online" type="button" class="btn btn-info no-click">Online</button>--><span class="fa fa-laptop"></span> {{name}}</h4><hr>
                    <h4 id="descr">Description</h4>{{description}}<br><hr>

                    <a href="./{{className}}/{{id}}/{{grouptype}}">
                    <button type="button" class="col-xs-12 btn btn-info">Join Group!</button></a><br><br><br>
                  </div> <!-- class: col-xs-12 container-fluid panel panel-default -->
                </div> <!-- class_elem --> 
                {{/each}}
                <!-- +++++ Each group space End! +++++ --> 

        </div> 
        <!-- +++++ Right side of page End +++++ -->

      </div>
      <!-- +++++ Single Row End +++++ -->

    </div>
    <!-- +++++ Container End +++++ -->




    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> commonJS }}

    <!--                        End Body                            -->
      <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87714901-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
